@charset "utf-8";
@import "E:/tuding/css/layout_v2";
$layout:'ft7';
$wrapping:960px;
$n1:200px;
$n2:200px;
$space:2px;
$incInner:false;
$v1:200px;
$v2:200px;


//乱码测试
@include tuding($layout,$wrapping,$n1,$n2,$space,$incInner,$v1,$v2);



@media screen and (max-width:1100px) {
	/*响应式设计*/
}

@media screen and (max-width:900px) {
	/*响应式设计*/
	$wrapping:720px;
	$n1:160px;
	$n2:160px;
	$space:1px;
	@include tudingFt72cols($wrapping,$n1,$n2,$space,-1);
	//@include tuding1col();
}

@media screen and (max-width:700px) {
	/*响应式设计*/
	//@include tudingFt72cols($wrapping,$n1,$n2,$space,-1);
	//@include tuding1col();
}

@media screen and (max-width:400px) {
	/*响应式设计*/
	//@include tudingFt72cols($wrapping,$n1,$n2,$space,-1);
	@include tuding1col();
}
