.w-1-1 {
  width: 100%; }

.w-1-2 {
  width: 50%; }

.w-1-3 {
  width: 33.33333%; }

.w-2-3 {
  width: 66.66666%; }

.w-1-4 {
  width: 25%; }

.w-3-4 {
  width: 75%; }

.w-1-5 {
  width: 20%; }

.w-2-5 {
  width: 40%; }

.w-3-5 {
  width: 60%; }

.w-4-5 {
  width: 80%; }

.w-1-6 {
  width: 16.66666%; }

.w-5-6 {
  width: 83.33333%; }

.w-1-8 {
  width: 12.5%; }

.w-3-8 {
  width: 37.5%; }

.w-5-8 {
  width: 62.5%; }

.w-7-8 {
  width: 87.5%; }

.w-1-12 {
  width: 8.33333%; }

.w-5-12 {
  width: 41.66666%; }

.w-7-12 {
  width: 58.33333%; }

.w-11-12 {
  width: 91.66666%; }

.w-1-24 {
  width: 4.16666%; }

.w-5-24 {
  width: 20.83333%; }

.w-7-24 {
  width: 29.16666%; }

.w-11-24 {
  width: 45.83333%; }

.w-13-24 {
  width: 54.16666%; }

.w-17-24 {
  width: 70.83333%; }

.w-19-24 {
  width: 79.16666%; }

.w-23-24 {
  width: 95.83333%; }

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -5px !important;
  *margin-left: 0 !important;
  margin-right: -5px !important;
  *margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  clear: both;
  *text-align: justify !important;
  *text-justify: distribute-all-lines;
  *font-size: 0 !important;
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild( document.createElement("span") ).style.fontSize="0"); }
  .split:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .split:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    display: block;
    *display: inline-block;
    width: 100%; }

.split .s-1-1, .split .s-1-2, .split .s-1-3, .split .s-2-3, .split .s-1-4, .split .s-3-4,
.split .s-1-5, .split .s-2-5, .split .s-3-5, .split .s-4-5,
.split .s-1-6, .split .s-5-6, .split .s-1-8, .split .s-3-8, .split .s-5-8, .split .s-7-8,
.split .s-1-12, .split .s-5-12, .split .s-7-12, .split .s-11-12,
.split .s-1-24, .split .s-5-24, .split .s-7-24, .split .s-11-24, .split .s-13-24, .split .s-17-24, .split .s-19-24, .split .s-23-24 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 5px !important;
  *padding-left: 0 !important;
  padding-right: 5px !important;
  *padding-right: 0 !important;
  list-style: none;
  min-height: 1px;
  float: left;
  *float: none;
  *text-align: left;
  *font-size: medium;
  vertical-align: top;
  *display: inline;
  *zoom: 1; }
  .split .s-1-1:before, .split .s-1-2:before, .split .s-1-3:before, .split .s-2-3:before, .split .s-1-4:before, .split .s-3-4:before,
  .split .s-1-5:before, .split .s-2-5:before, .split .s-3-5:before, .split .s-4-5:before,
  .split .s-1-6:before, .split .s-5-6:before, .split .s-1-8:before, .split .s-3-8:before, .split .s-5-8:before, .split .s-7-8:before,
  .split .s-1-12:before, .split .s-5-12:before, .split .s-7-12:before, .split .s-11-12:before,
  .split .s-1-24:before, .split .s-5-24:before, .split .s-7-24:before, .split .s-11-24:before, .split .s-13-24:before, .split .s-17-24:before, .split .s-19-24:before, .split .s-23-24:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .split .s-1-1:after, .split .s-1-2:after, .split .s-1-3:after, .split .s-2-3:after, .split .s-1-4:after, .split .s-3-4:after,
  .split .s-1-5:after, .split .s-2-5:after, .split .s-3-5:after, .split .s-4-5:after,
  .split .s-1-6:after, .split .s-5-6:after, .split .s-1-8:after, .split .s-3-8:after, .split .s-5-8:after, .split .s-7-8:after,
  .split .s-1-12:after, .split .s-5-12:after, .split .s-7-12:after, .split .s-11-12:after,
  .split .s-1-24:after, .split .s-5-24:after, .split .s-7-24:after, .split .s-11-24:after, .split .s-13-24:after, .split .s-17-24:after, .split .s-19-24:after, .split .s-23-24:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.split .w-1-1, .split .w-1-2, .split .w-1-3, .split .w-2-3, .split .w-1-4, .split .w-3-4,
.split .w-1-5, .split .w-2-5, .split .w-3-5, .split .w-4-5,
.split .w-1-6, .split .w-5-6, .split .w-1-8, .split .w-3-8, .split .w-5-8, .split .w-7-8,
.split .w-1-12, .split .w-5-12, .split .w-7-12, .split .w-11-12,
.split .w-1-24, .split .w-5-24, .split .w-7-24, .split .w-11-24, .split .w-13-24, .split .w-17-24, .split .w-19-24, .split .w-23-24 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  *margin-left: 0 !important;
  *margin-right: 0 !important;
  *padding-left: 0 !important;
  *padding-right: 0 !important;
  list-style: none;
  min-height: 1px;
  float: left;
  *float: none;
  *text-align: left;
  *font-size: medium;
  vertical-align: top;
  *display: inline;
  *zoom: 1; }

.split .w-item:first-child {
  padding-left: 5px !important;
  *padding-left: 0 !important; }

.split .w-item:last-child {
  padding-right: 5px !important;
  *padding-right: 0 !important; }

.split .s-1-1 {
  width: 100% !important;
  *width: 100% !important; }

.split .s-1-2 {
  width: 50% !important;
  *width: 49.36709% !important; }

.split .s-1-3 {
  width: 33.33333% !important;
  *width: 32.48945% !important; }

.split .s-2-3 {
  width: 66.66666% !important;
  *width: 66.24473% !important; }

.split .s-1-4 {
  width: 25% !important;
  *width: 24.05063% !important; }

.split .s-3-4 {
  width: 75% !important;
  *width: 74.68354% !important; }

.split .s-1-6 {
  width: 16.66666% !important;
  *width: 15.61181% !important; }

.split .s-5-6 {
  width: 83.33333% !important;
  *width: 83.12236% !important; }

.split .s-1-8 {
  width: 12.5% !important;
  *width: 11.39241% !important; }

.split .s-3-8 {
  width: 37.5% !important;
  *width: 36.70886% !important; }

.split .s-5-8 {
  width: 62.5% !important;
  *width: 62.02532% !important; }

.split .s-7-8 {
  width: 87.5% !important;
  *width: 87.34177% !important; }

.split .s-1-12 {
  width: 8.33333% !important;
  *width: 7.173% !important; }

.split .s-5-12 {
  width: 41.66666% !important;
  *width: 40.92827% !important; }

.split .s-7-12 {
  width: 58.33333% !important;
  *width: 57.80591% !important; }

.split .s-11-12 {
  width: 91.66666% !important;
  *width: 91.56118% !important; }

.split .s-1-24 {
  width: 4.16666% !important;
  *width: 2.95359% !important; }

.split .s-5-24 {
  width: 20.83333% !important;
  *width: 19.83122% !important; }

.split .s-7-24 {
  width: 29.16666% !important;
  *width: 28.27004% !important; }

.split .s-11-24 {
  width: 45.83333% !important;
  *width: 45.14768% !important; }

.split .s-13-24 {
  width: 54.16666% !important;
  *width: 53.5865% !important; }

.split .s-17-24 {
  width: 70.83333% !important;
  *width: 70.46414% !important; }

.split .s-19-24 {
  width: 79.16666% !important;
  *width: 78.90295% !important; }

.split .s-23-24 {
  width: 95.83333% !important;
  *width: 95.78059% !important; }

.split .s-1-5 {
  width: 20% !important;
  *width: 14.89362% !important; }

.split .s-2-5 {
  width: 40% !important;
  *width: 36.17021% !important; }

.split .s-3-5 {
  width: 60% !important;
  *width: 57.44681% !important; }

.split .s-4-5 {
  width: 80% !important;
  *width: 78.7234% !important; }
