/* Tuding Layout System v2.0 - copyright(c)bubujie.net */
/* Width */
#{$selector} .w-1-1   { width:100%;      }
#{$selector} .w-1-2   { width:50%;       }
#{$selector} .w-1-3   { width:33.33333%; }
#{$selector} .w-2-3   { width:66.66666%; }
#{$selector} .w-1-4   { width:25%;       }
#{$selector} .w-3-4   { width:75%;       }
#{$selector} .w-1-5   { width:20%; }
#{$selector} .w-2-5   { width:40%; }
#{$selector} .w-3-5   { width:60%; }
#{$selector} .w-4-5   { width:80%; }
#{$selector} .w-1-6   { width:16.66666%; }
#{$selector} .w-5-6   { width:83.33333%; }
#{$selector} .w-1-8   { width:12.5%;     }
#{$selector} .w-3-8   { width:37.5%;     }
#{$selector} .w-5-8   { width:62.5%;     }
#{$selector} .w-7-8   { width:87.5%;     }
#{$selector} .w-1-12  { width: 8.33333%; }
#{$selector} .w-5-12  { width:41.66666%; }
#{$selector} .w-7-12  { width:58.33333%; }
#{$selector} .w-11-12 { width:91.66666%; }
#{$selector} .w-1-24  { width: 4.16666%; }
#{$selector} .w-5-24  { width:20.83333%; }
#{$selector} .w-7-24  { width:29.16666%; }
#{$selector} .w-11-24 { width:45.83333%; }
#{$selector} .w-13-24 { width:54.16666%; }
#{$selector} .w-17-24 { width:70.83333%; }
#{$selector} .w-19-24 { width:79.16666%; }
#{$selector} .w-23-24 { width:95.83333%; }



/* Width */
#{$selector} .w960 { width:960px; }/* 1-1 */
#{$selector} .w480 { width:480px; }/* 1-2 */
#{$selector} .w320 { width:320px; }/* 1-3 */
#{$selector} .w640 { width:640px; }/* 2-3 */
#{$selector} .w240 { width:240px; }/* 1-4 */
#{$selector} .w720 { width:720px; }/* 3-4 */
#{$selector} .w192 { width:192px; }/* 1-5 */
#{$selector} .w384 { width:384px; }/* 2-5 */
#{$selector} .w576 { width:576px; }/* 3-5 */
#{$selector} .w768 { width:768px; }/* 4-5 */
#{$selector} .w160 { width:160px; }/* 1-6 */
#{$selector} .w800 { width:800px; }/* 5-6 */
#{$selector} .w120 { width:120px; }/* 1-8 */
#{$selector} .w360 { width:360px; }/* 3-8 */
#{$selector} .w600 { width:600px; }/* 5-8 */
#{$selector} .w840 { width:840px; }/* 7-8 */
#{$selector} .w80  { width:80px;  }/* 1-12 */
#{$selector} .w400 { width:400px; }/* 5-12 */
#{$selector} .w560 { width:560px; }/* 7-12 */
#{$selector} .w880 { width:880px; }/* 11-12 */
#{$selector} .w40  { width:40px;  }/* 1-24 */
#{$selector} .w200 { width:200px; }/* 5-24 */
#{$selector} .w280 { width:280px; }/* 7-24 */
#{$selector} .w440 { width:440px; }/* 11-24 */
#{$selector} .w520 { width:520px; }/* 13-24 */
#{$selector} .w680 { width:680px; }/* 17-24 */
#{$selector} .w760 { width:760px; }/* 19-24 */
#{$selector} .w920 { width:920px; }/* 23-24 */