/* Tuding Layout System v2.0 - copyright(c)bubujie.net */
/* Width 1/2 */
#{$selector} .w-1     {  }
#{$selector} .w-1-2   { width:240px; }
#{$selector} .w-1-3   { width:160px; }
#{$selector} .w-2-3   { width:320px; }
#{$selector} .w-1-4   { width:120px; }
#{$selector} .w-3-4   { width:360px; }
#{$selector} .w-1-5   { width:96px;  }
#{$selector} .w-2-5   { width:192px; }
#{$selector} .w-3-5   { width:288px; }
#{$selector} .w-4-5   { width:384px; }
#{$selector} .w-1-6   { width:80px;  }
#{$selector} .w-5-6   { width:400px; }
#{$selector} .w-1-8   { width:60px;  }
#{$selector} .w-3-8   { width:180px; }
#{$selector} .w-5-8   { width:300px; }
#{$selector} .w-7-8   { width:420px; }
#{$selector} .w-1-12  { width:40px;  }
#{$selector} .w-5-12  { width:200px; }
#{$selector} .w-7-12  { width:280px; }
#{$selector} .w-11-12 { width:440px; }
#{$selector} .w-1-24  { width:20px;  }
#{$selector} .w-5-24  { width:100px; }
#{$selector} .w-7-24  { width:140px; }
#{$selector} .w-11-24 { width:220px; }
#{$selector} .w-13-24 { width:260px; }
#{$selector} .w-17-24 { width:340px; }
#{$selector} .w-19-24 { width:380px; }
#{$selector} .w-23-24 { width:460px; }
